@import '/src/app/variables.scss';

nav {
    display: flex;
    width: 100%;
    ul {
        @extend nav;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: red;
                }
            }
            .home {
                border-bottom: 2px solid red;
            }
        }
        .ex {
            width: 25%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            li {
                border: 1px solid #e5e5e5;
                padding: 10px;
            }
        }
    }
}